* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
}
.row {
    font-size: 0;
    padding: 3%;
    border: 1px solid blue;
}
/* CARDS */
.cards {
    width: calc((100% / 3) - 10px);
    display: inline-block;
    height: 500px;
    margin: 5px;
    background-color: lavender;
    border: 1px solid black;
}
figure{
    width: 100%;
    height: 100%;
    position: relative;
}
.placeholder{
    width: 100%;
    height: 100%;
    background-color: darkgrey;
    border: 1px solid red;
    display: inline-block;
}
/* Etichette */
.discount30::after{
    content: "-30%";
    background-color: red;
    width: 50px;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: white;
}
.discount50::before{
    content: "-50%";
    background-color: red;
    width: 50px;
    height: 30px;
    position: absolute;
    left: 0px;
    bottom: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: white;
}
.sostenibility::after{
    content: "Sostenibilità";
    background-color: green;
    width: auto;
    height: 30px;
    padding: 4px;
    position: absolute;
    display: inline-block;
    left: 60px;
    bottom: 25px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    color: white;
}

/* Overlay */
.overlay {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: lavender;
    display: none;
}

.placeholder:hover .overlay{
    display: block;
}

/* Like */
.like {
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 20px;
    right: 0px;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    vertical-align: middle;
    color: black;
 
 }
figcaption{
    margin-top: 5px;
}
.small-text{
    font-size: 12px;
    text-transform: capitalize;
}
.big-text{
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}
.discount{
    font-size: 12px;
    font-weight: bold;
    color: red;
    margin-right: 2px;
}
.price{
    font-size: 12px;
    text-decoration:line-through;
}
/**************/
.box {
    width: calc((100% / 3) - 4px);
    display: inline-block;
    height: 500px;
    margin: 2px;
    background-color: violet;
    position: relative;
}
.box-overlay {
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: green;
    font-size: 12px;
    display: none;
}
/* Su azione hover, quando passo su box, overlay cambia stato display diventando cosí visibile*/
.box:hover .box-overlay{
    display: block;
}


/* dopo il passaggio del mouse sul box, aggiungendo un contenuto nell'html - "Hello!"*/

.box-overlay::after{
    content: "Hello!";
    background-color: pink;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: -25px;
    top: -25px;
    font-size: 10px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: white;
}
